version: '3.8'
services:
  api: # nest js
    container_name: "api_dev"
    image: "api_dev"
    environment:
      - NODE_ENV:dev
    build:
      context: ./backNest
      target: "dev"
      dockerfile: Dockerfile
    entrypoint: ["./wait-for-postgres.sh", "npm", "run", "start:dev"]
    # entrypoint: ["npm", "run", "start:dev"]
    ports:
      - 3000:3000
    env_file:
      - .env
    depends_on:
      - vue
      # - redis
      # - postgres
    networks:
      - nesjs-network
    # volumes:
    # - type: bind
    #   source: ./frontVue
    #   target: /usr/src/app/frontVue/
    restart: always
  
  vue:
    container_name: "vue_dev"
    image: "vue_dev"
    environment:
      - NODE_ENV:dev
    build:
      context: ./frontVue
      target: "dev"
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - 8080:8080
    # depends_on:
    #   - api
      # - postgres
    networks:
      - nesjs-network
    # volumes:
    # - type: bind
    #   source: ./frontVue
    #   target: /usr/src/app/
    restart: always

  postgres:
    container_name: postgres
    image: postgres:latest
    networks:
      - nesjs-network
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: "${POSTGRES_DB_PREFIX}_${POSTGRES_DB_NAME}"
      PG_DATA: /var/lib/postgresql/data
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: always
volumes:
  pgdata:
  #   driver: local
  #   driver_opts:
  #     type: none
  #     device: backNest
  #     o: bind



networks:
  nesjs-network:





# pgadmin:
#   links:
#     - postgres:postgres
#   container_name: pgadmin
#   image: dpage/pgadmin4
#   volumes:
#     - ./pgdata/pgadmin:/root/.pgadmin
#   env_file:
#     - .env
#   networks:
#     - nesjs-network
# PGADMIN_DEFAULT_EMAIL=admin@admin.com
# PGADMIN_DEFAULT_PASSWORD=password
# adminer:
#   image: adminer
#   restart: always
#   ports:
#     - 8081:8080