version: '3.8'
services:
  postgres:
    container_name: postgres_only
    image: postgres:latest
    env_file:
      - .env
    # environment:
    #   POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    #   POSTGRES_USER: ${POSTGRES_USER}
    #   POSTGRES_DB: "${POSTGRES_DB_PREFIX}_${POSTGRES_DB_NAME}"
    #   PG_DATA: /var/lib/postgresql/data
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: always
volumes:
  pgdata:


# pgadmin:
#   links:
#     - postgres:postgres
#   container_name: pgadmin
#   image: dpage/pgadmin4
#   volumes:
#     - ./pgdata/pgadmin:/root/.pgadmin
#   env_file:
#     - .env
#   networks:
#     - nesjs-network
# PGADMIN_DEFAULT_EMAIL=admin@admin.com
# PGADMIN_DEFAULT_PASSWORD=password
# adminer:
#   image: adminer
#   restart: always
#   ports:
#     - 8081:8080